@tailwind base;
@tailwind components;
@tailwind utilities;

@import './chat.css';

:root {
  --background: #f8f9fa;
  --foreground: #343a40;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
